* {
    margin: 0;
    padding: 0;
}

h2 {
    color: aliceblue;
}

.block {
    background-color: blueviolet;
    width: 500px;
    height: 500px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.block-2 {
    display: flex;
    width: 500px;
    height: 500px;
    padding: 5px;
    margin: 5px;
}

.first {
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 5px;
    margin: 5px;

}

.container {
   display: flex;
   background-color: rgb(209, 165, 165);
   justify-content: center;
}

